@charset "UTF-8";
* {
    margin: 0px;
    padding: 0px;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

header {
    width: 100vw;
    height: 200px;
    color: white;
    background: black url("../imagens/avatars-000044515224-8ufzmg-t240x240-removebg-preview.png") no-repeat;
    background-position: center center;
    background-size: 50%;

}


button {
    color: white;
    background-color: transparent;
    margin: 1px;
    border: none;
    cursor: pointer;
}

header > button#cart{
    margin: 0px;
    display: block;
    width: 100px;
    background-color: green;
    border-radius: 5px;
    position: relative;
    top: -10%;
    right: -70%;
}

menu {
    padding: 11.9% 0%;
    background-color: red;
    width: 130px;
    height: vh;
    display: none;
}

main {
    background-color: red;
    font-family: Arial, Helvetica, sans-serif;
    margin: 10px;
    padding: 6px;
    border-radius: 5px;
}

main > section {
    display: block;
    background-color: white;
    text-align: center;
    width: 70%;

    border: 1px solid black;
    border-radius: 5px;
    margin: auto;
    margin-top: 5px;
   
}

main > section > img{
    width: 30vw;
}

.button {
    width: 200px;
    background-color: green;
    color: white;
}
.price {
    color: green;
}